/*Dont do the Ford*/
.homeIcon-r0w4ny{
    width:100%;
    height:100%;
    background:var(--home-icon) var(--home-position)/var(--home-size) no-repeat
}
.homeIcon-r0w4ny>path{
    display:none
}
:root {
--home-icon: url(https://i.imgur.com/wEM18XH.png);
--home-position: center;
--home-size: 35px;
}
/*Dont do the Ford*/
